.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 0.4em;
}

 body::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) invisible */
}

.scrollbar-disappear::-webkit-scrollbar {
  width: 0.4em;
}

.scrollbar-disappear::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

.scrollbar-disappear::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) invisible */
}
.align-start {
  align-content: flex-start
}